* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    min-height: 100vh;
    margin: 0;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
